
.info-image{
    margin-top: 10%;
    width:400px;
}
.info h4{
text-align: center;
}

.info-link{
margin-left: 10%;

}
.info-desc{

margin: 25px ;
}



@media only screen and (min-width: 920px) {
    .info-image
    {
        
        margin-left: 30%;
        width:600px;
        
    }
    .info-link{
        margin-left: 45%;
        
        }

  }